"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true
palette = 'catppuccin_macchiato'

format = '''
[┌─$username$hostname$directory$git_branch$git_state$git_status$aws](overlay2)$fill[$time](overlay2)
[└─$character](overlay2)
'''

[aws]
format = '─\([$region-$profile$symbol]($style)\)'
symbol = ' '
style = 'blue'

[aws.region_aliases]
eu-west-1 = 'ew1'

[fill]
symbol = ' '

[character]
success_symbol = '[❯](text)'
error_symbol = '[❯](text)'

[directory]
format = '─\([$path]($style)[$read_only]($read_only_style)\)'
read_only_style = 'red'
style = 'blue'
truncation_length = 7
truncation_symbol = '…/'

[git_branch]
format = '─\([$branch$symbol]($style) '
style = 'blue'
symbol = ' '

[git_state]
style = 'blue'

[git_status]
format = '([\[$all_status$ahead_behind\]]($style))\)'
style = 'blue'

[hostname]
format = '[@$hostname]($style)\)'
ssh_only = false
style = 'blue'

[time]
disabled = false
format = '\([$time]($style)\)'
style = 'blue'
time_format = '%H:%M %d/%m/%y'

[username]
format = '\([$user]($style)'
show_always = true
style_root = 'red bold'
style_user = 'blue'

# https://github.com/catppuccin/starship
[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"
